.web-title {
  position: absolute;
  width: 350px;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background: #ff5049;
  color: #fff;
}

body {
  font-family: "Press Start 2P", cursive;
}

/* Shell */
#gamepad-outer {
  position: absolute;
  height: 280px;
  width: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(89, 89, 89);
  background: linear-gradient(
    90deg,
    rgba(89, 89, 89, 1) 0%,
    rgba(226, 226, 226, 1) 0%,
    rgba(172, 172, 172, 1) 100%
  );
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
#gamepad-edge {
  position: relative;
  height: 245px;
  width: 600px;
  top: 56%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(89, 89, 89);
  background: linear-gradient(
    90deg,
    rgba(89, 89, 89, 1) 0%,
    rgba(232, 232, 232, 1) 0%,
    rgba(222, 222, 222, 1) 100%
  );
}

#gamepad-inner {
  position: relative;
  height: 230px;
  width: 580px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #1e272e;
}
/* /Shell */

/* select/start */

.middle-boxes {
  position: relative;
  left: 50%;
  top: 50%;
  height: 230px;
  width: 200px;
  transform: translate(-50%, -50%);
}

#middle-box-top {
  position: relative;
  top: 15px;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #d2dae2;
  height: 30px;
  width: 200px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

#middle-box-1 {
  position: relative;
  top: 28px;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #d2dae2;
  height: 30px;
  width: 200px;
  border-radius: 25px;
}

#middle-box-text {
  position: relative;
  color: #d63031;
  font-size: 12px;
  top: 30px;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #d2dae2;
  height: 30px;
  width: 200px;
  border-radius: 25px;
}

#box-text-select {
  position: relative;
  transform: scale(1.2, 1);
  top: 11px;
  left: 30px;
}

#box-text-start {
  position: relative;
  transform: scale(1.2, 1);
  top: -13px;
  left: 138px;
}

#start-box {
  position: relative;
  top: 56px;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #d2dae2;
  height: 60px;
  width: 190px;
}

#select {
  position: relative;
  height: 18px;
  width: 60px;
  background: #2d3436;
  border: none;
  outline: 0;
  border-radius: 25px;
  top: 20px;
  left: 18px;
}
#select:active {
  transform: translateY(2px);
}

#start {
  position: relative;
  height: 18px;
  width: 60px;
  background: #2d3436;
  border: none;
  outline: 0;
  border-radius: 25px;
  top: 20px;
  left: 36px;
}
#start:active {
  transform: translateY(2px);
}

#middle-box-bottom {
  position: relative;
  top: 53px;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #d2dae2;
  height: 30px;
  width: 200px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
/* /select/start */

/* D pad */
.plus-container {
  position: relative;
  height: 105px;
  width: 105px;
  top: -40%;
  left: 15%;
  transform: translate(-50%, -50%);
}
#criss1 {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
  background: #ecf0f1;
  height: 106px;
  width: 28px;
}
#cross1 {
  background: #ecf0f1;
  position: relative;
  content: "";
  top: -50%;
  transform: translate(0%, -50%);
  height: 28px;
  width: 106px;
}

#criss2 {
  position: relative;
  top: -124%;
  left: 50%;
  transform: translate(-50%, 0%);
  background: #2d3436;
  height: 100px;
  width: 20px;
}
#cross2 {
  background: #2d3436;
  position: relative;
  content: "";
  top: 50%;
  left: 3px;
  transform: translate(0%, -50%);
  height: 20px;
  width: 100px;
}

.arrow {
  position: relative;
  color: #636e72;
  font-size: 22px;
  height: 20px;
  width: 20px;
  background: none;
  cursor: pointer;
  border: none;
  outline: 0;
}

#up-arrow {
  position: relative;
  left: -7px;
}
#up-arrow:active {
  transform: translateY(-2px);
}

#down-arrow {
  position: relative;
  cursor: pointer;
  background-position: 1px;
  left: -7px;
  top: 48px;
}
#down-arrow:active {
  transform: translateY(2px);
}

#left-arrow {
  position: relative;
  left: -5px;
  top: -2px;
}
#left-arrow:active {
  transform: translateX(-2px);
}

#right-arrow {
  position: relative;
  cursor: pointer;
  background-position: 1px;
  left: 71px;
  top: -30px;
}
#right-arrow:active {
  transform: translateX(2px);
}
/* /D pad */

#nintendo {
  position: relative;
  color: #d63031;
  top: -300px;
  left: 425px;
}
